<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Omni Message Example</title>
</head>
<body>
    <div style="background-color: #222; color: #fff; padding: 20px; height: 100vh;">
        <%- include(`./contact.ejs`) %>
    </div>
</body>
</html>
